<% @places.each do |place| %>
<ul>
  <li>NAME OF PLACE: <%= place.place %></li>
  <li>TYPE OF PLACE: <%= place.type_of_place %></li>
  <li>CONTRIBUTOR: <%= place.contributor %></li>
  <li>NOTES: <%= place.notes %></li>
</ul>
<% end %>
